<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>機台狀態
                    <small>Some text you want to put</small>
                </h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="form-inline">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="flat" checked="checked"> filter 1
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="flat"> filter 2
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="x_content">
                        <div name="machineDiv" class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    var renderModule = (function () {
        return {
            genLi: function (name, classname) {
                var li = $('<li>');
                var p = $('<p>');
                var iconSpan = $('<span>').addClass('icon').append($('<i>').addClass(classname));
                var nameSpan = $('<span>').addClass('name').append(name);
                return li.append(p.append(iconSpan).append(nameSpan));
            },
            render: function (item) {
                console.log('mah_num: ' + item['mah_num']);
                var containerDiv = $("[name='machineDiv']");
                var outerDiv = $('<div>').addClass('col-md-3 col-xs-12 widget widget_tally_box');
                var innerDiv = $('<div>').addClass('x_panel fixed_height_300');
                var titleDiv = $('<div>').addClass('x_title');
                var contentDiv = $('<div>').addClass('x_content');
                var ul = $('<ul>').addClass('legend list-unstyled');

                ul.append(this.genLi(item['mah_pn'], 'fa fa-square dark'));
                ul.append(this.genLi(item['mah_mold'], 'fa fa-square grey'));
                ul.append(this.genLi(item['mah_cou'], 'fa fa-square blue'));
                ul.append(this.genLi(item['mah_result'], 'fa fa-square green'));
                ul.append(this.genLi(item['mah_defect'] + ' %', 'fa fa-square aero'));
                contentDiv.append(ul);

                titleDiv.append($('<h2>').append(item['mah_num'])).append($('<div>').addClass('clearfix'));

                containerDiv.append(outerDiv.append(innerDiv.append(titleDiv).append(contentDiv)));
            }
        }
    }());

    $(document).ready(function () {
        var url = '/machine/ajax';
        fetch(url, {
            method: 'GET'
        }).then((response) => {
            return response.json();
        }).then((data) => {
            data.forEach((item, index) => {
                console.log(item);
                renderModule.render(item);
            });
        }).catch((err) => {
            console.error(err);
        });
    });
</script>