<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>機台狀態
                    <small>Some text you want to put</small>
                </h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="form-inline">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="flat" checked="checked"> filter 1
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="flat"> filter 2
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="x_content">
                        <div class="row">

                            <div class="col-md-3 col-xs-12 widget widget_tally_box">
                                <div class="x_panel fixed_height_300">
                                    <div class="x_title">
                                        <h2>S1</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <ul class="legend list-unstyled">
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square dark"></i>
                                                    </span>
                                                    <span class="name">ZAUO062A-P02-01.T1</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square grey"></i>
                                                    </span>
                                                    <span class="name">M2</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square blue"></i>
                                                    </span>
                                                    <span class="name">3000</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square green"></i>
                                                    </span>
                                                    <span class="name">換班
                                                    </span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square aero"></i>
                                                    </span>
                                                    <span class="name">3%
                                                    </span>
                                                </p>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-xs-12 widget widget_tally_box">
                                <div class="x_panel fixed_height_300">
                                    <div class="x_title">
                                        <h2>S2</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <ul class="legend list-unstyled">
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square dark"></i>
                                                    </span>
                                                    <span class="name">ZAUO062A-P02-01.T1 </span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square grey"></i>
                                                    </span>
                                                    <span class="name">M3</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square blue"></i>
                                                    </span>
                                                    <span class="name">2000</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square green"></i>
                                                    </span>
                                                    <span class="name">生產完畢
                                                    </span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square aero"></i>
                                                    </span>
                                                    <span class="name">2.5%
                                                    </span>
                                                </p>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-xs-12 widget widget_tally_box">
                                <div class="x_panel fixed_height_300">
                                    <div class="x_title">
                                        <h2>S3</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <ul class="legend list-unstyled">
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square dark"></i>
                                                    </span>
                                                    <span class="name">ZAUO062A-P02-01.T3</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square grey"></i>
                                                    </span>
                                                    <span class="name">M8</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square blue"></i>
                                                    </span>
                                                    <span class="name">2000</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square green"></i>
                                                    </span>
                                                    <span class="name">生產
                                                    </span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square aero"></i>
                                                    </span>
                                                    <span class="name">2.5%
                                                    </span>
                                                </p>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-xs-12 widget widget_tally_box">
                                <div class="x_panel fixed_height_300">
                                    <div class="x_title">
                                        <h2>S4</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <ul class="legend list-unstyled">
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square dark"></i>
                                                    </span>
                                                    <span class="name">ZAUO062A-P02-01.T1</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square grey"></i>
                                                    </span>
                                                    <span class="name">M2</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square blue"></i>
                                                    </span>
                                                    <span class="name">3000</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square green"></i>
                                                    </span>
                                                    <span class="name">換班
                                                    </span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square aero"></i>
                                                    </span>
                                                    <span class="name">3%
                                                    </span>
                                                </p>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-xs-12 widget widget_tally_box">
                                <div class="x_panel fixed_height_300">
                                    <div class="x_title">
                                        <h2>S5</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <ul class="legend list-unstyled">
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square dark"></i>
                                                    </span>
                                                    <span class="name">ZAUO062A-P02-01.T1</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square grey"></i>
                                                    </span>
                                                    <span class="name">M3</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square blue"></i>
                                                    </span>
                                                    <span class="name">3000</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square green"></i>
                                                    </span>
                                                    <span class="name">生產完畢
                                                    </span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square aero"></i>
                                                    </span>
                                                    <span class="name">2.5%
                                                    </span>
                                                </p>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-xs-12 widget widget_tally_box">
                                <div class="x_panel fixed_height_300">
                                    <div class="x_title">
                                        <h2>S6</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <ul class="legend list-unstyled">
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square dark"></i>
                                                    </span>
                                                    <span class="name">ZAUO062A-P02-01.T1</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square grey"></i>
                                                    </span>
                                                    <span class="name">M8</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square blue"></i>
                                                    </span>
                                                    <span class="name">2000</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square green"></i>
                                                    </span>
                                                    <span class="name">生產
                                                    </span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span class="icon">
                                                        <i class="fa fa-square aero"></i>
                                                    </span>
                                                    <span class="name">2.5%
                                                    </span>
                                                </p>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>