<style>
  th,
  td {
    white-space: nowrap;
  }

  .sType {
    background-color: #f9f9f9;
  }

  .tType {
    background-color: #EDEDED;
  }

  .highlight-yield {
    color: #FF6347;
    font-weight: bolder;
  }

  .dt-head-center {
    text-align: center;
  }
</style>
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>機台狀態
          <small></small>
        </h3>
      </div>

      <div class="title_right">
        <div class="col-md-6 col-sm-6 col-xs-12 form-group pull-right top_search">
          <div class="form-inline">
            <label for="" style="margin-right: 10px">Auto Refresh</label>
            <div class="radio">
              <label>
                <input name="autoRefresh" type="radio" value="-1" class="flat">
                <span style="margin-left: 5px; margin-right: 5px">NA</span>
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="autoRefresh" type="radio" value="30000" class="flat">
                <span style="margin-left: 5px; margin-right: 5px">30s</span>
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="autoRefresh" type="radio" value="60000" class="flat">
                <span style="margin-left: 5px; margin-right: 5px">60s</span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>機台即時資訊
              </h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table id="machineTable" class="table table-bordered nowrap">
                <thead></thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="">
          <div class="x_content">
            <div name="machineDiv" class="row">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  let timer
  function autoRefresh(duration) {
    timer = setTimeout(function () {
      let url = window.location.href;
      if (url.indexOf('autoRefreshDuration') > -1) {
        url = url.substr(0, url.indexOf('?')) + '?autoRefreshDuration=' + duration
      } else {
        url += '?autoRefreshDuration=' + duration
      }
      window.location.href = url;
    }, duration);
  }
  $(document).ready(function () {
    let duration = '{{autoRefreshDuration}}';
    $("[name='autoRefresh']").filter("[value='" + duration + "']").iCheck('check')
    autoRefresh(duration);

    $("input[name='autoRefresh']").on('ifChecked', function (event) {
      console.log('autoRefresh changed: ' + $("[name='autoRefresh']:checked").val())
      clearTimeout(timer)
      if ($("[name='autoRefresh']:checked").val() > 0) {
        autoRefresh($("[name='autoRefresh']:checked").val());
      }
    });
    machineModule.build();
  });

</script>