<style>
  th,
  td {
    white-space: nowrap;
  }
</style>
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>生產資訊
          <small>Some text you want to put</small>
        </h3>
      </div>

    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>歷史資料
            </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <form class="form-horizontal">

              <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Default Input</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <input type="text" class="form-control" placeholder="Default Input">
                </div>
              </div>

              <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Default Input</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <input type="text" class="form-control" placeholder="Default Input">
                </div>
              </div>

              <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Default Input</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <input type="text" class="form-control" placeholder="Default Input">
                </div>
              </div>

              <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Select</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <select class="form-control">
                    <option>Choose option</option>
                    <option>Option one</option>
                    <option>Option two</option>
                    <option>Option three</option>
                    <option>Option four</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Select</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <select class="form-control">
                    <option>Choose option</option>
                    <option>Option one</option>
                    <option>Option two</option>
                    <option>Option three</option>
                    <option>Option four</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Select</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <select class="form-control">
                    <option>Choose option</option>
                    <option>Option one</option>
                    <option>Option two</option>
                    <option>Option three</option>
                    <option>Option four</option>
                  </select>
                </div>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                <button type="submit" style="float: right;" class="btn btn-success">Search</button>
              </div>

            </form>
            <div class="ln_solid"></div>

            <table id="manufactureTable" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>num</th>
                  <th>pn</th>
                  <th>time</th>
                  <th>date</th>
                  <th>hole1</th>
                  <th>hole2</th>
                  <th>mold</th>
                  <th>cytime</th>
                  <th>cto</th>
                  <th>pke</th>
                  <th>onrest</th>
                  <th>oncount</th>
                  <th>ondate</th>
                  <th>ofresult</th>
                  <th>ofreason</th>
                  <th>ofcount</th>
                  <th>ofdate</th>
                </tr>
              </thead>


              <tbody>
                <tr>
                  <td>S1</td>
                  <td>ZAUO062A-P02-01.T1</td>
                  <td></td>
                  <td></td>
                  <td>L16-1</td>
                  <td>L16-2</td>
                  <td>M1</td>
                  <td>10</td>
                  <td>15</td>
                  <td>225</td>
                  <td>生產</td>
                  <td>999</td>
                  <td>2017-12-21</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>S2</td>
                  <td>ZAUO062A-P02-01.T2</td>
                  <td></td>
                  <td></td>
                  <td>L7-1</td>
                  <td></td>
                  <td>M1</td>
                  <td>40</td>
                  <td>1</td>
                  <td>60</td>
                  <td>試模</td>
                  <td>5000</td>
                  <td>2017-12-21</td>
                  <td>生產完畢</td>
                  <td></td>
                  <td>6500</td>
                  <td>2017-12-21</td>
                </tr>

                <tr>
                  <td>T5</td>
                  <td>ZAUO013A-P02-01.T1</td>
                  <td></td>
                  <td></td>
                  <td>L2-1</td>
                  <td>L2-2</td>
                  <td>M1</td>
                  <td>10</td>
                  <td>36</td>
                  <td>540</td>
                  <td>生產</td>
                  <td>5000</td>
                  <td>2017-12-21</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td>S6</td>
                  <td>ZAUO062A-P02-01.T1</td>
                  <td></td>
                  <td></td>
                  <td>L8-1</td>
                  <td>L8-2</td>
                  <td>M1</td>
                  <td>20</td>
                  <td>4</td>
                  <td>60</td>
                  <td>生產</td>
                  <td>5000</td>
                  <td>2017-12-21</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td>S2</td>
                  <td>ZAUO050NV-P02-01.T3</td>
                  <td></td>
                  <td></td>
                  <td>L1-1</td>
                  <td>L1-2</td>
                  <td>M1</td>
                  <td>30</td>
                  <td>1</td>
                  <td>40</td>
                  <td>生產</td>
                  <td>5000</td>
                  <td>2017-12-25</td>
                  <td>試模完畢</td>
                  <td></td>
                  <td>5000</td>
                  <td>2017-12-27</td>
                </tr>

                <tr>
                  <td>S4</td>
                  <td>ZAUO062A-P02-98.T1</td>
                  <td></td>
                  <td></td>
                  <td>L8-1</td>
                  <td>L8-2</td>
                  <td>M1</td>
                  <td>20</td>
                  <td>400</td>
                  <td>60</td>
                  <td>生產</td>
                  <td>1000</td>
                  <td>2017-12-25</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>