<!-- bootstrap-datetimepicker -->
<link href="../vendors/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">

<style>
  th,
  td {
    white-space: nowrap;
  }

  .highlight-yield {
    color: #FF6347;
    font-weight: bolder;
  }
</style>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>


<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>生產資訊
          <small></small>
        </h3>
      </div>

    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>歷史資料
            </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <form class="form-horizontal">

              <div class="col-md-5 col-sm-12 col-xs-12 form-group">
                <label style="text-align:left" class="control-label col-md-4 col-sm-4 col-xs-12">機台</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <input type="text" class="form-control" placeholder="Default Input">
                </div>
              </div>

              <div class="col-md-5 col-sm-12 col-xs-12 form-group">
                <label style="text-align:left" class="control-label col-md-4 col-sm-4 col-xs-12">機種</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <select class="form-control">
                    <option>Choose option</option>
                    <option>Option one</option>
                    <option>Option two</option>
                    <option>Option three</option>
                    <option>Option four</option>
                  </select>
                </div>
              </div>

              <div class="col-md-5 col-sm-12 col-xs-12 form-group">
                <label style="text-align:left" class="control-label col-md-4 col-sm-4 col-xs-12">生產啟日</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <div class="input-group date ">
                    <input id="fromDate" type="text" class="form-control">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-th"></i>
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-md-5 col-sm-12 col-xs-12 form-group">
                <label style="text-align:left" class="control-label col-md-4 col-sm-4 col-xs-12">生產迄日</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <div class="input-group date ">
                    <input id="endDate" type="text" class="form-control">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-th"></i>
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                <button type="button" style="float: right;" class="btn btn-success">Search</button>
              </div>

            </form>


            <div class="ln_solid"></div>

            <table id="manufactureTable" class="table table-striped table-bordered">
              <thead></thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function formatFloat(num, pos) {
    var size = Math.pow(10, pos);
    return Math.round(num * size) / size;
  }

  $(document).ready(function () {
    var manufactureTable = $('#manufactureTable').DataTable({
      "searching": false,
      "ajax": "/manufacture/ajax",
      "lengthMenu": [10, 20, 50, 75, 100],
      "pageLength": 10,
      "autoWidth": false,
      'scrollX': true,
      "columnDefs": [
        { targets: '_all', width: '26%' },
        { targets: '_all', orderable: false },
        { targets: '_all', searchable: false }
      ],
      "columns": [
        {
          "title": "maf_num",
          "data": "maf_num",
          "orderable": true,
          "render": function (data, type, row, meta) {
            var span = $("<span>");
            span.append(data);
            if (row.yield < 0.9) span.addClass('highlight-yield');
            return span.wrap('<div></div>').parent().html();
          },
        },
        {
          "title": "maf_pn",
          "data": "maf_pn",
          "orderable": true,
          "render": function (data, type, row, meta) {
            var span = $("<span>");
            span.append(data);
            if (row.yield < 0.9) span.addClass('highlight-yield');
            return span.wrap('<div></div>').parent().html();
          },
        },
        {
          "title": "maf_time",
          "data": "maf_time",
          "render": function (data, type, row, meta) {
            var span = $("<span>");
            span.append(data);
            if (row.yield < 0.9) span.addClass('highlight-yield');
            return span.wrap('<div></div>').parent().html();
          },
        },
        {
          "title": "maf_date",
          "data": "maf_date",
          "render": function (data, type, row, meta) {
            var span = $("<span>");
            span.append(data);
            if (row.yield < 0.9) span.addClass('highlight-yield');
            return span.wrap('<div></div>').parent().html();
          },
        },
        {
          "title": "maf_hole1",
          "data": "maf_hole1",
          "render": function (data, type, row, meta) {
            var span = $("<span>");
            span.append(data);
            if (row.yield < 0.9) span.addClass('highlight-yield');
            return span.wrap('<div></div>').parent().html();
          },
        },
        {
          "title": "maf_hole2",
          "data": "maf_hole2",
          "render": function (data, type, row, meta) {
            var span = $("<span>");
            span.append(data);
            if (row.yield < 0.9) span.addClass('highlight-yield');
            return span.wrap('<div></div>').parent().html();
          },
        },
        {
          "title": "maf_mold",
          "data": "maf_mold",
          "render": function (data, type, row, meta) {
            var span = $("<span>");
            span.append(data);
            if (row.yield < 0.9) span.addClass('highlight-yield');
            return span.wrap('<div></div>').parent().html();
          },
        },

        {
          "title": "maf_cytime",
          "data": "maf_cytime",
          "render": function (data, type, row, meta) {
            var span = $("<span>");
            span.append(data);
            if (row.yield < 0.9) span.addClass('highlight-yield');
            return span.wrap('<div></div>').parent().html();
          },
        },
        {
          "title": "maf_cto",
          "data": "maf_cto",
          "render": function (data, type, row, meta) {
            var span = $("<span>");
            span.append(data);
            if (row.yield < 0.9) span.addClass('highlight-yield');
            return span.wrap('<div></div>').parent().html();
          },
        },
        {
          "title": "maf_pke",
          "data": "maf_pke",
          "render": function (data, type, row, meta) {
            var span = $("<span>");
            span.append(data);
            if (row.yield < 0.9) span.addClass('highlight-yield');
            return span.wrap('<div></div>').parent().html();
          },
        },
        {
          "title": "maf_onresult",
          "data": "maf_onresult",
          "render": function (data, type, row, meta) {
            var span = $("<span>");
            span.append(data);
            if (row.yield < 0.9) span.addClass('highlight-yield');
            return span.wrap('<div></div>').parent().html();
          },
        },
        {
          "title": "maf_oncount",
          "data": "maf_oncount",
          "render": function (data, type, row, meta) {
            var span = $("<span>");
            span.append(data);
            if (row.yield < 0.9) span.addClass('highlight-yield');
            return span.wrap('<div></div>').parent().html();
          },
        },
        {
          "title": "maf_ondate",
          "data": "maf_ondate",
          "render": function (data, type, row, meta) {
            var span = $("<span>");
            span.append(data);
            if (row.yield < 0.9) span.addClass('highlight-yield');
            return span.wrap('<div></div>').parent().html();
          },
        },

        {
          "title": "maf_ofresult",
          "data": "maf_ofresult",
          "render": function (data, type, row, meta) {
            var span = $("<span>");
            span.append(data);
            if (row.yield < 0.9) span.addClass('highlight-yield');
            return span.wrap('<div></div>').parent().html();
          },
        },
        {
          "title": "maf_ofreason",
          "data": "maf_ofreason",
          "render": function (data, type, row, meta) {
            var span = $("<span>");
            span.append(data);
            if (row.yield < 0.9) span.addClass('highlight-yield');
            return span.wrap('<div></div>').parent().html();
          },
        },
        {
          "title": "maf_offcount",
          "data": "maf_offcount",
          "render": function (data, type, row, meta) {
            var span = $("<span>");
            span.append(data);
            if (row.yield < 0.9) span.addClass('highlight-yield');
            return span.wrap('<div></div>').parent().html();
          },
        },
        {
          "title": "maf_offdate",
          "data": "maf_offdate",
          "render": function (data, type, row, meta) {
            var span = $("<span>");
            span.append(data);
            if (row.yield < 0.9) span.addClass('highlight-yield');
            return span.wrap('<div></div>').parent().html();
          },
        },
        {
          "title": "yield",
          "data": "yield",
          "render": function (data, type, row, meta) {
            var span = $("<span>");
            span.append(formatFloat(data, 2).toFixed(2));
            if (row.yield < 0.9) span.addClass('highlight-yield');
            return span.wrap('<div></div>').parent().html();
          },
        },
      ]
    });

    $('.input-group.date').datepicker({
      autoclose: true,
      format: "yyyy/mm/dd"
    });

    $("#fromDate").val(moment().subtract(6, 'days').format("YYYY/MM/DD"));
    $("#endDate").val(moment().format("YYYY/MM/DD"));
  });
</script>