<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<style>
    td.details-control {
        background: url('http://i.imgur.com/SD7Dz.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('http://i.imgur.com/d4ICC.png') no-repeat center center;
    }
</style>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>模具管理
                    <small>Some text you want to put</small>
                </h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>各機種對應之模具資訊
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30">

                        </p>
                        <table id="mold_two" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>機種</th>
                                    <th>模具</th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script>

    /* Formatting function for row details - modify as you need */
    function format(d) {
        var thStyle = { 'background-color': '#E4F1D4', 'padding': '4px 8px' };
        var tdStyle = { 'background-color': '#F1F8E9', 'padding': '4px 8px' };
        var tableAttribute = {};
        var tableStyle = {};

        var changeButton = $('<button>').addClass('btn btn-info btn-xs').append('Change');
        var historyButton = $('<button>').addClass('btn btn-warning btn-xs').append('Change');

        var table = $('<table>').attr(tableAttribute).addClass('container').css(tableStyle);
        var tr1 = $('<tr>'), tr2 = $('<tr>'), tr3 = $('<tr>'), tr4 = $('<tr>');
        tr1.append($('<th>').css(thStyle).append('零件'))
            .append($('<th>').css(thStyle).append('Count'))
            .append($('<th>').css(thStyle).append('更換時間'))
            .append($('<th>').css(thStyle).append('更換'))
            .append($('<th>').css(thStyle).append('Threshold'))
            .append($('<th>').css(thStyle).append('History'));

        tr2.append($('<td>').css(tdStyle).append('LLK15-001-62A01'))
            .append($('<td>').css(tdStyle).append('2205672'))
            .append($('<td>').css(tdStyle).append('2017-12-13 17:20'))
            .append($('<td>').css(tdStyle).append($('<button>').addClass('btn btn-info btn-xs').append('Change')))
            .append($('<td>').css(tdStyle).append('3000000'))
            .append($('<td>').css(tdStyle).append($('<button>').addClass('btn btn-warning btn-xs').append('Change')));

        tr3.append($('<td>').css(tdStyle).append('LLK15-001-62A01'))
            .append($('<td>').css(tdStyle).append('2205672'))
            .append($('<td>').css(tdStyle).append('2017-12-13 17:20'))
            .append($('<td>').css(tdStyle).append($('<button>').addClass('btn btn-info btn-xs').append('Change')))
            .append($('<td>').css(tdStyle).append('3000000'))
            .append($('<td>').css(tdStyle).append($('<button>').addClass('btn btn-warning btn-xs').append('Change')));

        return table.append(tr1).append(tr2).append(tr3);

    }

    function format2(d) {
        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            '<tr>' +
            '<td>Full name:</td>' +
            '<td>' + d.name + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Extension number:</td>' +
            '<td>' + d.extn + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Extra info:</td>' +
            '<td>And any further details here (images etc)...</td>' +
            '</tr>' +
            '</table>';
    }

    $(document).ready(function () {
        var table = $('#mold_two').DataTable({
            "ajax": "../data/db.json",
            "columns": [
                {
                    "className": 'details-control',
                    "orderable": false,
                    "data": null,
                    "defaultContent": ''
                },
                { "data": "name" },
                { "data": "position" }
            ],
            "order": [[1, 'asc']]
        });

        // Add event listener for opening and closing details
        $('#mold_two tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });
    });
</script>