<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>模具管理
                    <small>Some text you want to put</small>
                </h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>各機種對應之模具資訊
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30">

                        </p>
                        <table id="moldTable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>機種</th>
                                    <th>模號</th>
                                    <th>零件</th>
                                    <th>Count</th>
                                    <th>更換時間</th>
                                    <th>更換</th>
                                    <th>Threshold</th>
                                    <th>History</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>ZAUO062A-P02-01.T1</td>
                                    <td>M2</td>
                                    <td>LLK15-001-62A01</td>
                                    <td>2205672</td>
                                    <td>2017-12-13 17:20</td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-xs">Change</button>
                                    </td>
                                    <td>3000000</td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-xs">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ZAUO062A-P02-01.T1</td>
                                    <td>M2</td>
                                    <td>LLK15-001-62A02</td>
                                    <td>2205672</td>
                                    <td>2017-12-13 17:20</td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-xs">Change</button>
                                    </td>
                                    <td>3000000</td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-xs">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ZAUO062A-P02-01.T1</td>
                                    <td>M2</td>
                                    <td>LLK15-001-62A03</td>
                                    <td>2300000</td>
                                    <td>2017-12-13 17:20</td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-xs">Change</button>
                                    </td>
                                    <td>3000000</td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-xs">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ZAUO062A-P02-01.T1</td>
                                    <td>M2</td>
                                    <td>LLK15-001-62A04</td>
                                    <td>2300000</td>
                                    <td>2017-12-13 17:20</td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-xs">Change</button>
                                    </td>
                                    <td>3000000</td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-xs">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ZAUO062A-P02-01.T1</td>
                                    <td>M2</td>
                                    <td>LLK15-001-62A05</td>
                                    <td>320000</td>
                                    <td>2017-12-13 17:20</td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-xs">Change</button>
                                    </td>
                                    <td>3000000</td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-xs">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ZAUO062A-P02-01.T1</td>
                                    <td>M2</td>
                                    <td>LLK15-001-62A06</td>
                                    <td>320000</td>
                                    <td>2017-12-13 17:20</td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-xs">Change</button>
                                    </td>
                                    <td>50000</td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-xs">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ZAUO062A-P02-01.T1</td>
                                    <td>M2</td>
                                    <td>LLK15-001-62A07</td>
                                    <td>2205672</td>
                                    <td>2017-12-13 17:20</td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-xs">Change</button>
                                    </td>
                                    <td>50000</td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-xs">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ZAUO062A-P02-01.T1</td>
                                    <td>M2</td>
                                    <td>LLK15-001-62A08</td>
                                    <td>2205672</td>
                                    <td>2017-12-13 17:20</td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-xs">Change</button>
                                    </td>
                                    <td>3000000</td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-xs">View</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>ZAUO062A-P02-02.T1</td>
                                    <td>M19</td>
                                    <td>LLK15-001-52A01</td>
                                    <td>30000</td>
                                    <td>2017-12-13 18:20</td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-xs">Change</button>
                                    </td>
                                    <td>12300</td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-xs">View</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>ZAUO062A-P02-98.T1</td>
                                    <td>M20</td>
                                    <td>LLK16-009-72A01</td>
                                    <td>40000</td>
                                    <td>2017-12-14 18:20</td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-xs">Change</button>
                                    </td>
                                    <td>300</td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-xs">View</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>ZAUO062A-P02-98.T1</td>
                                    <td>M20</td>
                                    <td>LLK16-009-72A02</td>
                                    <td>58000</td>
                                    <td>2017-12-14 18:20</td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-xs">Change</button>
                                    </td>
                                    <td>89000</td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-xs">View</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>ZAUO062A-P02-98.T1</td>
                                    <td>M20</td>
                                    <td>LLK16-009-72A03</td>
                                    <td>43000</td>
                                    <td>2017-12-14 18:20</td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-xs">Change</button>
                                    </td>
                                    <td>567300</td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-xs">View</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script>

    console.log('aaaa');
</script>