<link href="../vendors/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
<script src="../build/js/dataTables.cellEdit.js"></script>


<style>
  .required {
    color:#E57373
  }
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    width: 600px;
    margin: 0px auto;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    font-family: Helvetica, Arial, sans-serif;
  }

  .modal-header h4 {
    margin-top: 0;
    color: #42b983;
  }

  .modal-body {
    margin: 0px 0;
  }

  .modal-default-button {
    float: right;
  }

  .stop-scrolling {
    height: 100%;
    overflow: hidden;
  }

  .fade-enter-active {
    transition: opacity 1.5s;
  }

  .fade-enter {
    opacity: 0;
  }
</style>

<script src="../build/js/vue.min.js"></script>

<div id="app" class="right_col" role="main">
  <button style="display: none" id="show-modal" @click="showModal = true">Show Modal</button>
  <modal v-if="showModal" :field-types="fieldTypes" :form-type="formType" :sys-id="sysId" @cancel="showModal = false"
    @close="close">
  </modal>

  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>料號選項維護
          <small></small>
        </h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>查詢資訊
            </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content" style="width: 100%">
            <form class="form-horizontal">

              <div style="display: block;" class="col-md-4 col-sm-12 col-xs-12 form-group">
                <label style="text-align:left" class="control-label col-md-4 col-sm-4 col-xs-12">料號類型</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <select id="partType" class="form-control">
                    <option></option>
                    <option v-for="param in partTypes" :value="param.type">${param.type}</option>
                  </select>
                </div>
              </div>

              <div style="display: block;" class="col-md-4 col-sm-12 col-xs-12 form-group">
                <label style="text-align:left" class="control-label col-md-4 col-sm-4 col-xs-12">欄位類型</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <select v-model="fieldTypeSelected" id="fieldType" class="form-control">
                    <option></option>
                    <option v-for="param in fieldTypes" :value="param.type">${param.type}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                <button id="addBtn" type="button" @click="showNewForm" style="float: right;" class="btn btn-danger">
                  <i class="fa fa-plus-circle" style="margin-right: 10px"></i>新增
                </button>
                <button id="searchBtn" type="button" style="float: right;" class="btn btn-primary">
                  <i class="fa fa-search" style="margin-right: 10px"></i>Search
                </button>
              </div>

            </form>

            <table id="partsConfigTable" class="table table-striped table-bordered">
              <thead></thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function showModifyForm(sysId) {
    vm.formType = 'modify'
    vm.showModal = true
    vm.sysId = sysId
  }
  Vue.component('modal', {
    props: ['fieldTypes', 'formType', 'sysId'],
    template: '#modal-template',
    delimiters: ['${', '}'],
    data() {
      return {
        partType: '',
        fieldType: '',
        fieldKey: '',
        fieldValue: '',
        fieldDynamicIndex: '',
        fieldDynamicIndex2: '',
        showRequired: {
          partType: false,
          fieldType: false,
          fieldKey: false,
          fieldValue: false
        },
      }
    },
    created() {
      console.log('formType', this.formType)
      console.log('sysId', this.sysId)
      if (this.formType === 'new') this.partType = 'mold'
      if (this.sysId) this.fetchData()
    },
    destroyed() {
    },
    computed: {
      title() {
        if (this.formType === 'new') return '新增'
        if (this.formType === 'modify') return '修改'
      }
    },
    methods: {
      validate() {
        let flag = true

        if (this.partType) {
          this.showRequired.partType = false
        } else {
          this.showRequired.partType = true
          flag = false
        }

        if (this.fieldType) {
          this.showRequired.fieldType = false
        } else {
          this.showRequired.fieldType = true
          flag = false
        }

        if (this.fieldKey) {
          this.showRequired.fieldKey = false
        } else {
          this.showRequired.fieldKey = true
          flag = false
        }

        if (this.fieldValue) {
          this.showRequired.fieldValue = false
        } else {
          this.showRequired.fieldValue = true
          flag = false
        }

        return flag
      },
      async fetchData() {
        let url = `/partsConfig/api/data/${this.sysId}`
        const response = await fetch(url, {
          method: 'GET',
          headers: new Headers({
            'Content-Type': 'application/json'
          }),
          credentials: "same-origin"
        })
        let obj = await response.json()
        console.log(obj)
        this.partType = obj.part_type
        this.fieldType = obj.field_type
        this.fieldKey = obj.field_key
        this.fieldValue = obj.field_value
        this.fieldDynamicIndex = obj.field_dynamic_index
        this.fieldDynamicIndex2 = obj.field_dynamic_index_2
      },
      async save() {
        if (!this.validate()) return
        console.log('saved successfully', this.fieldType)
        try {
          let url = `/partsConfig/api/data`
          let method = this.formType === 'new' ? 'POST' : 'PUT'
          let header = {
            'Content-Type': 'application/json'
          }
          let body = {
            partType: this.partType,
            fieldType: this.fieldType,
            fieldKey: this.fieldKey,
            fieldValue: this.fieldValue,
            fieldDynamicIndex: this.fieldDynamicIndex,
            fieldDynamicIndex2: this.fieldDynamicIndex2
          }
          if (this.formType = 'modify') {
            body.sysId = this.sysId
          }
          const response = await fetch(url, {
            method: method,
            body: JSON.stringify(body),
            headers: new Headers(header),
            credentials: "same-origin"
          })
          if (response.status === 200) {
            notify(`${this.title}成功`, 'success');
          } else {
            throw response.statusText
          }

        } catch (ex) {
          console.error(ex)
          notify(`${this.title}失敗`, 'danger');
        } finally {
          this.$emit('close')
        }
      }
    },
    watch: {
    }
  })

  let vm = new Vue({
    delimiters: ['${', '}'],
    el: '#app',
    data: {
      showModal: false,
      partTypes: [],
      fieldTypes: [],
      partTypeSelected: '',
      fieldTypeSelected: '',
      formType: null,
      sysId: null
    },
    mounted() {
      this.fetchParameters('part')
      this.fetchParameters('field')

      partsConfigModule.init()
      partsConfigModule.build()
    },
    methods: {
      showNewForm() {
        this.formType = 'new'
        this.showModal = true
        this.sysId = null
      },
      async fetchParameters(typeName) {
        let url = `/partsConfig/parameters?typeName=${typeName}`
        const response = await fetch(url, {
          method: 'GET',
          credentials: "same-origin"
        })
        // console.log(await response.json())
        let result = JSON.parse(JSON.stringify((await response.json()).result))
        this[`${typeName}Types`] = result
      },
      close() {
        this.showModal = false
      }
    },
    watch: {
    }
  })
</script>

<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <h4>${title}料號選項</h4>
          </div>

          <div class="modal-body">
            <div style="width: 100%">
              <form class="form-horizontal">

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"><span class="required">*</span> 料號類型
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input disabled readonly type="text" v-model="partType" class="form-control">
                  </div>
                  <transition name="fade">
                    <label v-if="showRequired.partType" class="control-label" for="first-name" ><font color="#E57373">This field is required.</font></span>
                  </transition>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"><span class="required">*</span> 欄位類型
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control" list="browsers" v-model="fieldType" name="browser">
                    <datalist id="browsers">
                      <option v-for="param in fieldTypes" :value="param.type">${param.type}</option>
                    </datalist>
                  </div>
                  <transition name="fade">
                    <label v-if="showRequired.fieldType" class="control-label" for="first-name" ><font class="required">This field is required.</font></span>
                  </transition>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"><span class="required">*</span> Key</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control" v-model="fieldKey">
                  </div>
                  <transition name="fade">
                    <label v-if="showRequired.fieldKey" class="control-label" for="first-name" ><font class="required">This field is required.</font></span>
                  </transition>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"><span class="required">*</span> Value</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control" v-model="fieldValue">
                  </div>
                  <transition name="fade">
                    <label v-if="showRequired.fieldValue" class="control-label" for="first-name" ><font class="required">This field is required.</font></span>
                  </transition>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">動態關聯1</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control" v-model="fieldDynamicIndex">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">動態關聯2</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control" v-model="fieldDynamicIndex2">
                  </div>
                </div>

              </form>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-success" style="float: right" @click="$emit('cancel')">Cancel</button>
            <button type="button" class="btn btn-danger" style="float: right" @click="save">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>
